#### 단축키 목록
a : 위에 셀삽입  
b : 아래에 셀 삽입  
ctrl + enter : 코드실행  
shift + enter : 코드 실행 후 다음 행으로 넘어감
y : 프로그램모드  
m : 마크다운 모드
dd : 셀삭제  
alt + a : 전체선택 + ctrl +enter 전체실행

<hr/>
파이썬 내장함수명으로 변수를 선언하게 되면, 기존의 내장 함수를 사용하지 못하는데,
중지 버튼 눌러서 커널을 초기화 해주면 됩니다.

In [7]:
# 변수
# 세미콜론은 찍어도 되고, 찍지 않아도 됩니다.
a = 'hello';# 문자열(크기제한x)
b = 1 #숫자
c = 3.14 # float
d = True #False

print(a, b, c, d)

hello 1 3.14 True

In [11]:
# 연산자
# +, -, *, /, %
10*20
20 / 3 # 파이썬 / 연산은 항상 실수형입니다
20 % 3

2

In [16]:
# 연산자
# ==, !=, >=, >, &, |
# or and not

True or False
True | False

not True
True and True
False & False

False

# 데이터 타입, 타입캐스팅, 타입확인
int, float, bool, str

In [19]:
a = 10
type(a)

b = True
type(b)

bool

In [21]:
a = int(3.14)
a

3

In [20]:
b = float("3.14")
b

3.14

In [22]:
c = bool("True")
c

True

In [27]:
d = str(3)
d

e = bool("sdfwef")
e

e = int("홍길동")
e

# 바꿀 수 없는 값은 에러
# f = int("홍길동")
# f

ValueError: invalid literal for int() with base 10: '홍길동'

# 문자열 연산

In [30]:
'hello' + 'world'

'helloworld'

In [28]:
'hello' * 10 # 문자열은 곱하기 연산이 가능항

'hellohellohellohellohellohellohellohellohellohello'

In [44]:
# 'hello' + 10 # 서로 다른 타입을 더하기 연산시 에러발생

In [38]:
str = '나는 마음속으로 생각하고 있습니다.\'python을 가르키기 싫다고..\' 분명히 혼자할 수도 있을텐데...'
str

"나는 마음속으로 생각하고 있습니다.'python을 가르키기 싫다고..' 분명히 혼자할 수도 있을텐데..."

In [34]:
str = '아 월요일이네 \n집에가고싶다'
print(str)

아 월요일이네
집에가고싶다

In [35]:
str = '''아 월요일이네 \n집에가고싶다'''
print(str)

아 월요일이네
집에가고싶다

# 문자열 함수

In [43]:
# .찍고 탭=>
# shift + tab
str.count('아') # 아 의 개수

str.find('집') # '집'의 위치

str.replace('집', 'home') #원본 문자는 변경이 없다.

str = str.replace('집', 'home')
str

str = '홍길동|20세|111-222-333'
str.split('|')

# 공통 내장 함수 -> 파이썬에서는 어디서든 사용할 수 있는 특정함수들이 있습니다.
len(str)

19

# 출력의 형태

In [55]:
apple = 3
print('사과가 ', apple, '개 있습니다')
print('사과가', apple, '개 있습니다', sep='')
print('사과가', apple, '개 있습니다', sep='-')

# .format()
print('사과가 {}개 있습니다'.format(apple))

melon = 10

'사과가 {}개 있습니다. 멜론은 {}개 있는데. {} 맛있겠다'.format(apple, melon, '헐')
'사과가 {:.3f}개 있습니다. 멜론은 {:d}개 있는데. {:s} 맛있겠다'.format(apple, melon, '헐')

사과가  3 개 있습니다
사과가3개 있습니다
사과가-3-개 있습니다
사과가 3개 있습니다

'사과가 3.000개 있습니다. 멜론은 10개 있는데. 헐 맛있겠다'

# 입력
input()

Scanner scan = new Scanner(System.in)  
a = scan.nextInt()

In [56]:
a = input()
a

안녕하세요

'안녕하세요'

In [59]:
a = input('할일을 적으세요>')
a

할일을 적으세요>집에가고싶죠?

'집에가고싶죠?'

In [60]:
a = int(input('정수로입력하세요>'))
a


type(a)

정수로입력하세요>10

int