# 제어문 if elif else
- 파이썬에서는 중괄호가 들여쓰기로 변환됩니다.

In [5]:
age = 10
# if(age > 20){
# }

if age >= 20 :
# print(age) 에러 (들여쓰기해야함)
    print('당신은 성인입니다')
elif age >= 17 :
    print('당신은 고등학생입니다')  
elif age >= 14 :
    print('당신은 중학생입니다')
else :
     print('촉법소년 이시네요')
        
print('if문 끝')

촉법소년 이시네요
if문 끝

# 제어문 while

In [13]:
n = 1
while n <= 10 :
    print('hello', n)
    
    n+=1
    #n++ # ++은 파이썬에 없습니다.

print('현재 n의값:', n)

hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10
현재 n의값: 11

In [17]:
# 1~10까지 합계 구한 사람만 쉬는시간
sum = 0
n = 1

while n <= 10:
    sum += n
    n += 1
print(sum)

55

# for문
- 향상된 포문과 유사함

In [18]:
# for i in 순서를 가지고 있는 요소 :
for i in [1,2,3,4,5,6,7,8,9] :
    print(i)

1
2
3
4
5
6
7
8
9

In [19]:
for i in '안녕하세요 오늘은 날씨가 덥네요' :
    print(i)

안
녕
하
세
요

오
늘
은

날
씨
가

덥
네
요

In [28]:
# range(10) - 0~10미만
for i in range(10) :
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [29]:
for i in range(1, 10) : # 1이상 10미만
    print(i, end=' ')

1 2 3 4 5 6 7 8 9

In [30]:
for i in range(1, 10, 2) : # 1이상 10미만, 스탭=2
    print(i, end=' ')

1 3 5 7 9

### 탈출문 break, continue, pass

In [40]:
for i in range(1,11) : # 1~11미만

    
    if i == 5 :
        break
        # continue
        
    print(i)

1
2
3
4

In [42]:
# pass 다음으로 넘어감 -> if, for비워두면 에러가 발생 pass를 쓰고 넘어감
if True :
    pass

print(1)

1

### 데이터구조 list

In [48]:
# 리스트는 순서를 가지는 자료형 (ex: 어레이리스트)
a = [] #빈 리스트
a = list() #빈 리스트
a = [1,2,3,4,5,6,7,8,9]
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [73]:
# append - 끝에 추가
# insert - 중간에 추가
# remove - 삭제
# 공용함수 del - 삭제
a.append(10)

In [77]:
a

[0, 'hello', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 10, 10, 10, 10]

In [61]:
a.insert(1, 'hello') #인덱스, 값

In [62]:
a

[0, 'hello', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [78]:
a.remove('hello') # 값으로 삭제 (가장 첫번째 발견되는)

In [79]:
del(a[0]) # 인덱스 번호로 삭제할 때는 공용내장함수 del

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 10, 10, 10, 10]

In [80]:
del(a[0]) # 인덱스 번호로 삭제할 때는 공용내장함수 del

In [90]:
del(a[len(a)-1]) # 인덱스 번호로 삭제할 때는 공용내장함수 del

In [91]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## 인덱싱,슬라이싱

In [94]:
# 리스트 인덱싱 - 리스트의 인덱스 번호로 값을 변경, 확인
a = [1,2,3,4,5]
a[0] = 10 # 값의 변경
a

[10, 2, 3, 4, 5]

In [104]:
# 리스트 슬라이싱 - 리스트[시작: 끝: 스탭] # 끝지점 미만까지 슬라이싱
a = list(range(10))
print(a)
print( a[0: 3] ) # 0~3미만 리스트 슬라이싱
print( a[0: 3: 2] )
print( a[ :5]) # 비워두면 처음부터
print( a[3: ])

print( a[: :3]) # 시작~끝 ~3스탭마다

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]
[0, 2]
[0, 1, 2, 3, 4]
[3, 4, 5, 6, 7, 8, 9]
[0, 3, 6, 9]

In [110]:
# 문자열도 리스트입니다
str = '아 점심먹을 시간인데.. 수업을 더 할껀데?'
str[0]
str[len(str) - 1]
# str[:3] # 문자열도 인덱싱 슬라이싱 됩니다.

# for i in str :
#     print(i, end='')

'?'

In [2]:
# 리스트 연산 +, * 연산

list1 = [1,2,3,4,5]
list2 = list(range(1,3))

list1 + list2
list1 + list2 + list2

list1 * 3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### 튜플(tuple)
- 튜플은 집합
- 리스트와 비슷하지만, 변경불가한 리스트 (한번 값이 저장되면, 값의 변경 불가)

In [3]:
# 튜플은 ()로 생성
point = (1,2,3,4,5)
point = tuple(range(1,6))
point = 1,2,3,4,5 #()생략이 가능
point

(1, 2, 3, 4, 5)

In [8]:
# 튜플은 인덱싱, 슬라이싱
point[0]
point[4]

point[:3]
point[1:3]

# 튜플의 연산
point + (1,2)
point * 3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [16]:
# 튜플에서 불가능한 문법

# point[0] = 100 # 값의 변경 불가

# point.append(100) # 값을 추가하는 x

# del(point[0]) # 값을 삭제 x

#튜플에서 지원하는 함수 count, index

point.count(3) # 3의 개수

point.index(3) # 3의 위치

2

### 딕셔너리 (dictionary)
- 사전 (키:값) 값을 저장하는 형태
- 자바 map
- js obj입니다
- 검색이 빠릅니다.

In [17]:
# {}로 생성, 키는 반드시 문자열 이어야 합니다.
x = {"a" : 1, "b" : 2, "c" : 3}
x

{'a': 1, 'b': 2, 'c': 3}

In [18]:
len(x) # 길이

3

In [25]:
# 값의 추가 - 키는 고유합니다. 새로운 키로 값을 추가합니다.
x["d"] = 100
x

# 값의 확인
y = x["d"]
y

# 값의 변경 - 동일한 키를 이용해서 변경합니다.
x["d"] = "hello"
x

# 값의 삭제 - 키를 이용해서 삭제
del(x["d"])
x

{'a': 1, 'b': 2, 'c': 3}

In [35]:
# 값의 순회 (회전)

dic_ = {}
dic_

dic_["apple"] = "사우과"
dic_["melon"] = "메엘론"
dic_["orange"] = "오우렌지"
dic_

for i in dic_ :
    print(i, ":", dic_[i])
    
dic_.keys() # 키 값만 뽑아서 리스트로 반환
dic_.values() #값만 뽑아서 리스트로 반환

for i in dic_.keys() :
    print(i)

set(range(10))

apple : 사우과
melon : 메엘론
orange : 오우렌지
apple
melon
orange

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}